.delete-button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: transparent;
  border-radius: 8px;
  color: #ff2e63;
  font-size: 25px;
  transition: all 0.2s ease-in;

  &:hover {
    cursor: pointer;
    background-color: #eeeeee;
  }
}
